<ion-view class="events-today-view" can-swipe-back="true">
  <ion-nav-title>
    <span>View Event</span>
  </ion-nav-title>
  <ion-content has-bouncing="true">

	  <div ng-include src="'views/app/events/event-card.html'"></div>

    <div class="artist-pics">
      <div class="row row-no-padding">
        <div class="col col-33" ng-repeat="pic in event.node.pictures"><img src="{{pic.src}}" width="100%" /></div>
      </div>
    </div>


    <div class="artist-summary card">
      <div class="item item-divider">
        About {{event.node.title}}
      </div>
      <div class="item item-text-wrap">
        <p>{{event.node.artistSummary}}</p>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        About {{event.node.placeName}}
      </div>
      <div class="item item-text-wrap">
        {{event.node.placeSummary}}
      </div>
    </div>

  </ion-content>
</ion-view>
